<div class="container panel">
  <h1>Horarios de clase</h1>

  <table class="table">
    <tr>
      <th>Dia se semana</th>
      <th>Horario</th>
      <th>Tipo de entrenamiento</th>
      <th>Descripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(turno, function (turno) { %>
    <tr data-id="<%= turno.codigo %>" data-model="turno" >
      <td ALIGN=center><%= turno.dia_semana %></td>
      <td><%= turno.horario %></td>
      <td ALIGN=center><%= turno.cod_tipo_entre %></td>
      <td><%= turno.descripcion %></td>
    </tr>
    <% }) %>
  </table>


</div>