<!--  vista que muestra los datos del turno seleccionados-->

<div class="container panel">
  <div class="panel-body">
    <h1> Turno </h1>
    <div>Codigo: <%= turno.nombre %> </div>
    <div>Dia de semana: <%= turno.dia_semana %> </div>
    <div>Horario: <%= turno.Horario %> </div>
    <div>Descripcion: <%= turno.Descripcion %> </div>





    <a href="/turno/edit/<%= turno.codigo %>">Edit</a> |
    <a href="/turno">Back</a>
  </div>
</div>