<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />



<div class="container panel">
  <h1>Administrador de Alumnos</h1>

  <table class="table table-inverse">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>cedula</th>
      <th>Sexo</th>
      <th>Entrenamiento</th>
      <th>Fecha de nacimiento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(alumnos, function (alumno) { %>
    <tr data-id="<%= alumno.id %>" data-model="alumno" >
      <td><%= alumno.nombre %></td>
      <td><%= alumno.apellido %></td>
      <td><%= alumno.email %></td>
      <td><%= alumno.telefono %></td>
      <td><%= alumno.cedula %></td>
      <td><%= alumno.sexo %></td>
      <td><%= alumno.id_entrenamiento %></td>
      <td><%= alumno.nacimiento %></td>
      <td><a href="/alumno/show/<%= alumno.id %>">Show</a></td>
      <td><a href="/alumno/edit/<%= alumno.id %>">Edit</a></td>
      <td><a href="/alumno/destroy/<%= alumno.id %>">Delete</a></td>
    </tr>
    <% }) %>
  </table>



  <a href="/alumno/new">Nuevo alumno</a>
</div>
