<div class="container panel">
  <div class="panel-body">
    <h1> Alumno </h1>
    <div>Nombre: <%= alumno.nombre %> </div>
    <div>Apellido: <%= alumno.apellido %> </div>
    <div>Email: <%= alumno.email %> </div>
    <div>Telefono: <%= alumno.telefono %> </div>
    <div>Cedula: <%= alumno.cedula %> </div>
    <div>Entrenamiento: <%= alumno.id_entrenamiento %> </div>
    <div>Sexo: <%= alumno.sexo %> </div>
    <div>Nacimiento: <%= alumno.nacimiento %> </div>
    <!-- <div>ID Profesor: <%= alumno.entrenado %> </div> -->




    <a href="/alumno/edit/<%= alumno.id %>">Edit</a> |
    <a href="/alumno">Back</a>
  </div>
</div>
