
<div class="container">

    <form class="well form-horizontal" action="/profesor/update/<%= profesor.id %>" method="POST"  id="contact_form">
    <form action="/profesor/update/<%= profesor.id %>" method="POST" >
<fieldset>

<!-- Form Name -->
<legend>Editando Profesor</legend>

<!-- Nombre-->

<div class="form-group">
  <label class="col-md-4 control-label">Nombre</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="nombre" placeholder="Nombre" class="form-control"  type="text" value="<%= profesor.nombre%>">
    </div>
  </div>
</div>

<!-- Apellido-->

<div class="form-group">
  <label class="col-md-4 control-label" >Apellido</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="apellido" placeholder="Apellido" class="form-control"  type="text" value="<%= profesor.apellido%>">
    </div>
  </div>
</div>

<!-- Email-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail" class="form-control"  type="text" value="<%= profesor.email%>">
    </div>
  </div>
</div>


<!-- Telefono-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Telefono</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="telefono" placeholder="(0414)111-1111" class="form-control" type="text" value="<%= profesor.telefono%>">
    </div>
  </div>
</div>


<!-- Cedula-->

<div class="form-group">
  <label class="col-md-4 control-label">Cedula</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
  <input name="cedula" placeholder="Cedula" class="form-control"  type="text" value="<%= profesor.cedula%>">
    </div>
</div>
</div>


<!-- Sexo -->
   
<div class="form-group"> 
  <label class="col-md-4 control-label">Sexo</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="sexo" class="form-control selectpicker" >
      <option value=" " >Sexo</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
  </div>
</div>
</div>

<!-- Fecha de nacimiento-->

<div class="form-group">
  <label class="col-md-4 control-label">Fecha de nacimiento</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  <input name="nacimiento" placeholder="Fecha de nacimiento" class="form-control"  type="date" value="<%=profesor.nacimiento%>">
    </div>
</div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Editar <span class="glyphicon glyphicon-pencil"></span></button>
    <a href="/profesor" class="btn btn-warning" role="button">Back</a>
  </div>
</div>


</fieldset>
</form>
</div>
    </div><!-- /.container -->
