
<!--  vista que muestra los datos del profesor seleccionados-->

<div class="container panel">
  <div class="panel-body">
    <h1> Profesor </h1>
    <div>Nombre: <%= profesor.nombre %> </div>
    <div>Apellido: <%= profesor.apellido %> </div>
    <div>Email: <%= profesor.email %> </div>
    <div>Cedula: <%= profesor.cedula %> </div>
    <div>Sexo: <%= profesor.sexo %> </div>
    <div>Telefono: <%= profesor.telefono %> </div>
    <div>Nacimiento: <%= profesor.nacimiento %> </div>

<h3>Alumnos</h3>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% _.each(profesor.alumnos, function(alumno) { %>
    <tr data-id="<%= alumno.id %>" data-model="alumno" >
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td></td>
    </tr>
    <% }); %>
</table>

    <a href="/profesor/edit/<%= profesor.id %>">Edit</a> |
    <a href="/profesor">Back</a>
  </div>
</div>


<!--
<form action="/alumno/new" method="POST" >
    <input type="hidden" value="<% profesor.id %>" name="entrenado">
    <input type="submit" value="Add Alumno" />
</form>
/>-->