<div class="container panel">
  <div class="panel-body">
    <h1> Entrenamiento </h1>
    <div>Cancha: <%= entrenamiento.cancha %> </div>
    <div>Profesor: <%= entrenamiento.id_profesor %> </div>
    <div>Tipo de entrenamiento: <%= entrenamiento.cod_tipo_entre %> </div>
    <div>Categoria de entrenamiento: <%= entrenamiento.cod_categ_entre %> </div>
    <div>Descripcion: <%= entrenamiento.descripcion %> </div>



<h1>Alumnos</h1> 

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% _.each(alumnos, function (alumnos) { %>
    <tr data-id="<%= alumnos.id %>" data-model="alumnos" >
      <td><%= alumnos.nombre %></td>
      <td><%= alumnos.apellido %></td>
    </tr>
    <% }) %>
  </table>


    <a href="/entrenamiento/edit/<%= entrenamiento.id %>">Edit</a> |
    <a href="/entrenamiento">Back</a>
  </div>
</div>